.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: #FFFFFF;
    color: #000;
    font-size: 2.1rem;
    /* background-color: blue; */
}

.socials-wel {
    padding-top: 2rem;
    line-height: 0.2;
    display: flex;
    font-family: "Dancing Script", cursive;
    font-size: 1.3rem;
    align-content: center;
    justify-content: center;
    /* background-color: red; */
}


.fa-x-twitter{
    padding-right: 3rem;
    padding-left: 3rem;

}
