.terms {
    padding: 2.5rem 2.5rem;
}

.terms-header {
    text-decoration: underline;
}

.title {
    padding: 1rem 0rem;
    font-family: "Dancing Script", cursive;
    text-align: center;
}

li {
    list-style-type: none;
}

/* .questions {
    padding: 5rem 5rem;
} */

.ques {
    font-family: "Dancing Script", cursive;
    padding: 1rem 1rem;
}

.ans-ques {
    text-decoration: underline;
}
